$primary-blue: rgb(75, 75, 125);
$primary-red: rgb(152, 22, 22);
$orig-blue: rgb(15, 42, 131 );
$orig-red: rgb(226, 4, 18 );

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
    box-sizing: content-box;
    h2{
        font-size: 22pt;
        font-weight: 300;
        color: $primary-red;
    }
    p{
        font-size: 15pt;
        font-weight: 200;
    }
}

@media screen and (max-width: 701px){
    body{
        h2{
            font-size: 18pt;
        }
        p{
            font-size: 13pt;
        }
    }
}

